<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Basic Database Operations</title>
  <meta name="description" content="MySQL hw">
  <meta name="author" content="Micah Grossman">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{{body}}}
  <div id="theTable">
  </div>
  <script type="text/javascript" src="js/functions.js"></script>
</body>
</html>
