<h3>Fitness Tracker</h3>
<h4>Add Exercise</h4>
<form id= "insertForm" name="add" onSubmit=insert()>
  <label for="name">Name:</label>
  <input id="fname" type="text" name="name">
  <label for="id">Reps:</label>
  <input id="freps" type="number" name="reps">
  <label for="weight">Weight:</label>
  <input id="fweight" type="number" name="weight">
  <label for="date">Date:</label>
  <input id="fdate" type="date" name="date">
  Type:<input id="fus" type="radio" name="units" value="lbs">
  <label for="fus">lbs</label>
  <input id="fuk" type="radio" name="units" value="kgs">
  <label for="fuk">kgs</label>
  <input type="submit" value="submit">
</form>
